#dependecies
/node_modules/
/public/

# Ignorar archivos temporales
*.tmp
*.log
*.lock

# Ignorar archivos de configuración sensibles
config.ini
.ENV

# Ignorar archivos generados por el sistema operativo
.DS_Store

# Ignorar archivos locales de prueba
data.json
createUser.js